{% if messages %}
    <div id="message" class="container">
        {% for message in messages %}
            <div {% if message.tags %}class="alert {% if message.tags == 'error' %}alert-error{% else %}alert-{{ message.tags }}{% endif %}"{% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ERROR: {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
