{% load static %}
<footer>
    <div class="footer-container">
      
      <div class="footer-logo">
        <a href="{% url 'app:index' %}"><span>e</span>CarryFresh</a>
        
        <div class="footer-social">
          <a href="https://www.facebook.com/carryfreshfamilyhypermarket/"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/carryfresh_hypermarket/?hl=en"><i class="fab fa-instagram"></i></a>
          <a href="https://in.linkedin.com/company/carryfresh"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      

     
      <div class="footer-links">
        <strong>Quick Links</strong>
        <ul>
          <li><a href=""{% url 'app:index' %}"">Home</a></li>
          <li><a href=""{% url 'app:about' %}"">About</a></li>
          <li><a href="{% url 'app:all_products' %}">Product</a></li>
          <li><a href="{% url 'feedback' %}">Feedback</a></li>
        </ul>
      </div>
      
      <div class="footer-links">
        <strong>Branches</strong>
        <ul>
          <li><a href="#">Mogral</a></li>
          <li><a href="#">Chowki</a></li>
          <li><a href="#">Izzath Nagar</a></li>
          <li><a href="#">Chatangal</a></li>
          <li><a href="#">Maada</a></li>
        </ul>
      </div>
     
      <div class="footer-links">
        <strong>Contact</strong>
        <ul>
          <li><i class='fa fa-phone' style='color:#ffffff'></i><a href="javascript:void(0);">  Phone : +91 85588 48888</a></li>
          <li> <i class="fa fa-envelope" style='color:#ffffff'></i><a href="mailto:carryfreshmogral@gmail.com">  Email : carryfreshmogral@gmail.com</a></li>
        </ul>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <center><div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">

           <p> Copyright &copy; 2023<br>
             Made with &nbsp;<i style="color:red;"class="fa fa-heart heart"></i> &nbsp; Designed By <a  href="https://abdulnishad.github.io/">Nishad</a>
        </div>
      </div>
    </div>
  </center>
  </footer>
</div>