{% extends "app/base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .white-bg {
            background-color: white;
            padding: 20px; /* Optional: Add padding to the container */
            border-radius: 10px; /* Optional: Add rounded corners to the container */
        }

        .white-bg img {
            border: none; /* Remove the border around the image */
        }
    </style>
</head>
<div class="container my-5 white-bg">
    <!-- Your content goes here -->
    <div class="row">
        <div class="col-sm-6 text-center align-self-center">
            <img src="{{single_product.images.url }}" alt="" class="img-fluid img-thumbnail">
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2>{{single_product.product_name}}</h2>
            <p><strong>Quantity:</strong> 1 {{single_product.unit}}</p> <!-- Quantity information -->
            <hr>
            <p>{{single_product.description}}</p> <br>
            <h4>₹ {{single_product.price}} <span style="text-decoration: line-through; opacity: 0.7;">Rs. {{single_product.price|add:10}}</span></h4> <br>
            {% if single_product.stock == 0 %}
                <h5 style="color: red;">Out of Stock</h5>
            {% else %}
                {% if in_cart %}
                <a href="" class="btn btn-success">
                        
                    <i class="fas fa-check"></i> Added to Cart</a>
                    <a href="{% url "cart" %}" class="btn btn-outline-primary">
                        
                        <i class="fas fa-eye"></i> View Cart</a>
                {% else %}
                    <a href="{% url 'add_cart' single_product.id %}" class="btn btn-primary">
                        
                            <i class="fas fa-shopping-cart"></i> Add to Cart
                    
                    </a>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
