{% load static %}

<section id="clients">
    <div class="client-heading">
      <h3>What Our Customer's Say</h3>
    </div>
    <div class="client-box-container">
      <div class="client-box">
        <div class="client-profile">
          <img src="{% static 'images/client-1.jpg' %}" alt="client" />
          <div class="profile-text">
            <strong>Abdul Nisar</strong>
            <span>CEO,CA Traders</span>
          </div>
        </div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
            CarryFresh Hypermarket in Mogral has been a lifesaver for my business. With a wide range of products and impeccable service, they've made our daily grocery shopping a breeze. I highly recommend them.
        </p>
      </div>
      <div class="client-box">
        <div class="client-profile">
          <img src="{% static 'images/client-2.jpg' %}" alt="client" />
          <div class="profile-text">
            <strong>Raheem Kadavth</strong>
            <span>Home Chef</span>
          </div>
        </div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <p>
            "I can't thank CarryFresh enough for their top-quality fresh produce. Whether it's fruits, vegetables, or seafood, I can always count on them for the best ingredients. It's a home chef's paradise!"
        </p>
      </div>
      <div class="client-box">
        <div class="client-profile">
          <img src="{% static 'images/client-3.jpg' %}" alt="client" />
          <div class="profile-text">
            <strong>Raeena Nair</strong>
            <span>Regular Shopper</span>
          </div>
        </div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
            "CarryFresh is my go-to place for all my household needs. From groceries to cleaning supplies, they have it all. The convenience of online shopping and quick delivery is unmatched."
        </p>
      </div>
      <div class="client-box">
        <div class="client-profile">
          <img src="{% static 'images/client-3.jpg' %}" alt="client" />
          <div class="profile-text">
            <strong>David Patel</strong>
            <span>Health Enthusiast</span>
          </div>
        </div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <p>
            "As a health-conscious individual, I appreciate CarryFresh's commitment to offering healthy food options. Their organic produce and gluten-free products are a game-changer for me."


        </p>
      </div>
    </div>
  </section>
  